* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Proxima Nova', -apple-syste, "Helvetica", "Arial";
}
header {

  padding: 0.8rem 2rem;
  height: 120px;
  background-color: #a0010a;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.header_1 {
  display: flex;
  align-items: center;
}

.logo {
  flex: 1;
}
.logo img {
  max-width: 200px;
  height: auto;
}

.selos-consuming {
  cursor: pointer;
}

.input-search {
  display: flex;
  align-items: center;
  flex: 1;
} 

.input-search button {
  margin-left: -40px;
  padding-left: 0.5rem;
  background: transparent;
  border: none;
  height: 100%;
  border-left: 2px solid #ccc;
}

.input-search button:hover {
  cursor: pointer;
}
.input-search input {
  width:550px;
  height: 40px;
  outline: none;
  border: none;
  text-indent: 15px;
  border-radius: 3px 0px 0px 3px;
}
.input-search input::placeholder {
  color: #ddd;
}

.selos-consuming {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.header_2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.8rem;
}

.cep {
  flex: 1;
  border: 1px solid #a0010a;
}
.cep:hover {
  cursor: pointer;
}
.menu-dropdown {
  flex: 2;
}
.menu-dropdown ul{
  display: flex;
}

.menu-dropdown ul li {
  list-style: none;
  color:rgba(51,51,51,.6);
  padding:0.2rem 0.6rem;
  font-size: 0.9rem;
  transition: all ease 0.2s;
}
.menu-dropdown ul li:hover {
  color: #000;
  cursor: pointer;
  background-color: rgb(245, 75, 75);
}

.menu {
  flex: 1;

}

.menu ul {
  display: flex;
  justify-content:flex-end
}

.menu ul li{
  list-style: none;
  padding:0.2rem 0.3rem;
  font-size: 0.9rem;
  transition: all ease 0.2s;
}

.menu ul li:hover {
  cursor: pointer;
  background-color: rgb(245, 75, 75);
}